/****** Global Styles ******/
body {
    color: #3B3B3B;
    background: #DAF7F6;
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

/****** Header Styles ******/
header {
    background-color: #FFFFFF;
    text-align: center;
}

h1 {
    display: inline-block;
    padding: 40px 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #F16059;
    text-transform: uppercase;
}

header img {
    margin-right: 16px;
}

/****** Main Styles ******/
main {
    width: 1000px;
    margin: 0 auto;
}

.card {
    margin: 25px 0;
    overflow: auto;
}

/******recipe image*************/
.image {
    float: left;
    width: 500px;
    height: 550px;
}


.recipe {
    float: left;
    padding: 20px;
    width: 500px;
    height: 550px;
    background: #FFFFFF;
    box-sizing: border-box;
}

#cookies .image {
    background: url("../img/gluten-free-sugar-cookies.jpg");
    background-size: cover;
}

#pesto .image {
    background: url("../img/nut-free-pesto.jpg");
    background-size: cover;
}

#salad .image {
    background: url('../img/watermelon-salad.jpg');
    background-size: cover;
}

.recipe h2 {
    font-size: 24px;
    line-height: 29px;
    font-family: 'Montserrat', sans-serif;
    color: #F16059;
    text-transform: uppercase;
    margin-top: 0;
}

.time {
    margin-bottom: 20px;
    overflow: auto;
    border:1px solid #3B3B3B;
}

.time img{
    height: auto;
    width: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.time div{
    float:left;
    padding-left: 6px;
    width:33.3333% ;
    text-transform: uppercase;
    box-sizing: border-box;
}

.time .cook{
    border-right: 1px solid #3B3B3B;
    border-left: 1px solid #3B3B3B;
}


.time-details{
    display: inline-block;
}

.time strong{
    font-family: 'Montserrat', sans-serif;
}

/*****ingredients and preparation*********/
.columns{
    overflow: auto;
}

.columns .ingredients{
    float:left;
    width:205px;
    margin-right: 10px;
}

.columns .directions{
    float:left;
    width:240px;
}

.recipe h3{
    padding:10px;
    text-transform: uppercase;
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    color:#F16059;
}

.ingredients ul{
    padding-left: 5px;
    line-height: 24px;
    list-style: square;
}

.directions ol{
    padding-left: 5px;
    line-height: 22px;
}